html, body{
	font-family: PingFangTC, 微軟正黑體;
	margin: 0;
	padding: 0;
	border: 0;
}

.mainPic{
    /* background-image:url("pic01.jpg" ); */
    background-repeat:no-repeat;
    /* height: 650px; */
    /* margin-top: 40px; */
    padding-top: 40px;

    /* 背景圖片等比例縮放 */
    background-size: cover;
    background-position:center;
    position: relative;

    background-attachment: fixed;
    min-height: 100vh;
    height: 100%;
}

/* 輸入帳號密碼(登入) */

.accountDiv{
    background-color: white;
    opacity:0.9;
    padding:80px 60px;
    z-index: 1;
    position: absolute;
    margin-top: 70px;
    /* margin-left: 500px; */
    margin-left: 55%;
    border-radius: 15px;
}

.accountInputDiv{
    margin: 20px 0px;
    font-size: 16px;
}

input{
    width: 250px;
    height:24px;
    font-size: 16px;
}

input:focus{
    border-color: #0070e5;
}

.signBtn{
    background-color: #3b5998;
    color: white;
    font-family: 微軟正黑體, Microsoft JhengHei;
    border: 0;
    border-radius: 5px;

    height:28px;
    width: 48px;
}

.signBtn:hover{
    cursor: pointer;
}

.beforeSignup{
    /* 這個是分隔線 */
    border-bottom: 1px solid grey;
    margin: 20px 0px;
}

.toSignupPage{
    color: #3b5998;
    border: 0;

    height:26px;
    width: 60px;

    font-size: 14px;
    padding-top:5px;
    margin-top: 5px;
}
 
.toSignupPage:hover{
    background-color: #98423B;
    color: white;
    border: 0;
    border-radius: 5px;

    height:26px;
    width: 60px;

    font-size: 14px;
    padding-left:5px;
    padding-top:5px;
    margin-top: 5px;

    cursor: pointer;

}

/* 註冊頁 */

.signup{
    background-color: #98423B;
    color: white;
    border: 0;
    border-radius: 5px;

    height:26px;
    width: 40px;

    font-size: 14px;
    padding-left:5px;
    padding-top:5px;
    margin-top: 5px;
}

.signup:hover{
    cursor: pointer;
}

.backToSignin{
    margin-top: 15px;
}

.backToSignin:hover{
    color: #3b5998;
    cursor: pointer;
}

/* 網站介紹欄位 */

.introductionDiv{
    background-color: white;
    opacity:0.9;
    padding:80px;
    z-index: 1;
    position: absolute;
    margin-top: 70px;
    /* margin-left: 500px; */
    margin-left: 15%;
    border-radius: 999em;
    width:200px;height:200px;
}



@media (min-width: 768px) and (max-width: 1023px) {

    .accountDiv{
        background-color: white;
        opacity:0.9;
        padding:80px 60px;
        z-index: 1;
        position: absolute;
        margin-top: 70px;
        margin-left: 45%;
        border-radius: 15px;
    }
}


@media (max-width: 767px) {

    .accountDiv{
        background-color: white;
        opacity:0.9;
        padding:80px 60px;
        z-index: 1;
        position: absolute;
        margin-top: 70px;
        margin-left: 15%;
        border-radius: 15px;
    }

}
