@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

html, body{
	font-family: 'Noto Sans TC', 微軟正黑體, Microsoft JhengHei;
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background-color: #F5F5F5;

	/* background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
 background-blend-mode: screen; */
}

a,a:link,a:visited{color:inherit; text-decoration: none}

.headerLine{
	/* background-color:#3b5998; */
	
	/* 背景色透明，opacity會連字一起不見 */
	/* background-color:transparent; */

	background: rgba(22,29, 48, 0.8);
	position: fixed;
    top: 0;
	z-index: 2;
	
	display: flex;
	height: 50px;
	width: 100%;
	padding-left: 5px;
}

.websiteTitle{
	font-size: 30px;
	color:white;
	display: flex;
	justify-content: left;
	letter-spacing: 2px;
	/* padding:5px; */

	font-family: 'Noto Sans TC';
	/* font-family: din condensed light; */
}

.navbar{
	display: flex;
	justify-content: right;
	margin-left: auto;
}

li{
	display: inline-block;
	justify-content: flex-end;
	list-style-type:none;
	color: white;
	margin: 0px 10px;
	letter-spacing:2px;
	font-size: 16px;

	text-decoration: none;

	position: relative;
}

/* nav底線滑動特效 */
li:after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0%;
	border-bottom: 2px solid white;
	transition: 0.4s;
}
li:hover:after {
	width: 100%;
}

